<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- font-awsome-cdn s-->
    <script src="https://kit.fontawesome.com/2d068f38d7.js" crossorigin="anonymous"></script>

    <!-- animate.css file -->
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    <!-- css file -->
    <link rel="stylesheet" href="/css/home_style.css">

    <title><%= title %></title>
</head>
<body>
    <div class = "container">
        <h1 id = "header">TODO App</h1>

    <!-- form for taking input -->

    <form action="/post_todo_list"  method="POST">
        <div class = "description">
            <p>DESCRIPTION</p>
            <input type="text" name = "description" placeholder="What do you need to do?" required> 
        </div>
        <div class = "catagory-date">
            <div class = "dropdown">
                <p>CATEGORY</p>
                <div>
                    <input type="text" name="catagory" required placeholder="Choose a catagory...">
                    <i class="fas fa-caret-down"></i>
                </div>

                <div class = "dropdown-content animate__animated animate__zoomIn">
                    <ul>
                        <li>
                            Personal
                        </li>
                        <li>
                            Work
                        </li>
                        <li>
                            Collage
                        </li>
                        <li>
                            Cleaning
                        </li>
                        <li>
                            Other
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <p>DUE DATE</p>
                <input type="date" name = "date" required>
            </div>
        </div>

        <!-- add and delete button -->

        <div class="buttons">
            <button type = "submit" id = "inputForm"><i class="fas fa-plus"> &nbsp;ADD TASK</i></button>
            <button type = "submit" form = "myForm" id = "submitForm"><i class="fas fa-trash-alt"></i> &nbsp;DELETE TASKS</button>
        </div>
    </form>


    <!-- form for showing all the todo list data like row -->

    <form action="/delete-todolist" method="GET" id = "myForm">
        <% for(var i = 0; i < data.length; i++) { %>
            <div class = "row">
                <div>
                    <input type="checkbox" name = "id" value = "<%= data[i]._id%>" class = "<%= data[i]._id%>">
                    <label for = "<%= data[i]._id%>" class = "input-lables">
                        <p><%= data[i].description %></p>
                        <div class = "icon-date-sub-description">
                            <i class="fas fa-calendar-day"></i>
                            <span>
                                <%= data[i].date.toDateString().slice(3) %>
                            </span>
                        </div>
                    </label>
                </div>
                <div>
                    <button class = "show-catagory">
                        <%= data[i].catagory %>
                    </button>
                    <a href="/delete-todolist/?id=<%= data[i]._id%>" class = "<%= data[i]._id %> delete-button" ><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
        <% } %>
    </form>


    </div>


    <script src = "/js/jquery-3.6.0.js" type = "text/javascript"></script>
    <script src="/js/home.js" type = "text/javascript"></script>
</body>
</html>



